<div align="center">
    
      </div>
    
    <div>

  <div class="row">
				<div class="col-md-8" >
				    <!--
				    <div class="panel panel-default">
            <div class="panel-body">
             
            </div>
          </div>
				    -->
         <%= image_tag @pageant.image.url, class: "img-responsive center-block" if @pageant.image? %>
        
  <div id="exTab2" class="container">	
  <ul class="nav nav-tabs">
			<li class="active">
        <!--<a  href="#1" data-toggle="tab">--><%= link_to 'Edit', edit_pageant_path(@pageant) %><!--</a>-->
			</li>
			<li ><a href="#tab_b" data-toggle="tab">Add Contestant</a></li>
			<!--<li><a href="#3" data-toggle="tab">Delete Pageant</a></li>-->
			<li><%= link_to "Delete", pageant_path(@pageant), method: :delete,
                                data: {confirm: "Are you sure ?" } %></li>
		</ul>

			<div class="tab-content ">
			  <div class="tab-pane active" id="1">
          <h4 align="center"><%= @pageant.pageant_name %></h4>
          <h4 align="center"><%= @pageant.pageant_description  %></h4>
          <h4 align="center"><%= @pageant.pageant_category  %></h4>
          <h4 align="center">Pageant Created on:<%= @pageant.created_at  %></h4>
				</div>
				<div class="tab-pane" id="2">
          <h3>Notice the gap between the content and tab after applying a background color</h3>
				</div>
        <div class="tab-pane" id="3">
          <h3>add clearfix to tab-content (see the css)</h3>
				</div>
			</div>
  </div>

        </div>
        <div class="panel-heading center">Current Pageants</div>
        <div class="col-md-4">
          <!--Current created pageants appear here-->
        </div>
        </div>
       
					
      
 |
<%= link_to 'Back', pageants_path %>