<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div align="center">
    
      </div>
    
    <div>

  <div class="row">
				<div class="col-md-8" >
				    <!--
				    <div class="panel panel-default">
            <div class="panel-body">
             
            </div>
          </div>
				    -->
         <%= image_tag @pageant.image.url, class: "img-responsive center-block" if @pageant.image? %>
         
  <!--Here goes the trial code for tabs-->
  <div class="container col-md-8">
  <h2 align="center">Pageants Created</h2>
  <p>Menu</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Vote Created</a></li>
    <li><%= link_to 'Edit', edit_pageant_path(@pageant) %><!--<a data-toggle="tab" href="#menu1">Add Contestants</a>--></li>
    <li><a data-toggle="tab" href="#menu2">Edit Vote</a></li>
    <li><a data-toggle="tab" href="#menu3">Delete Vote</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3 align="center">Vote Created</h3>
      <p>This is where the created vote information appears.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3 align="center">Add Contestants</h3>
      <p>Add Contestants form will be visible from here.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3 align="center">Edit Vote</h3>
      <p>Edit the vote or votes you have created from here.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Delete</h3>
      <p>Delete the Votes or Contestants created from here.</p>
    </div>
  </div>
</div>

  
  <!--It ends here-->
        
  <div id="exTab2" class="container">	
  <ul class="nav nav-tabs">
			<li class="active">
        <!--<a  href="#1" data-toggle="tab">--><%= link_to 'Edit', edit_pageant_path(@pageant) %><!--</a>-->
			</li>
			<li ><a href="#tab_b" data-toggle="tab">Add Contestant</a></li>
			<!--<li><a href="#3" data-toggle="tab">Delete Pageant</a></li>-->
			<li><%= link_to "Delete", pageant_path(@pageant), method: :delete,
                                data: {confirm: "Are you sure ?" } %></li>
		</ul>

			<div class="tab-content ">
			  <div class="tab-pane active" id="1">
          <h4 align="center"><%= @pageant.pageant_name %></h4>
          <h4 align="center"><%= @pageant.pageant_description  %></h4>
          <h4 align="center"><%= @pageant.pageant_category  %></h4>
          <h4 align="center">Starting: <%= @pageant.startdate.to_s %></h4>
          <h4 align="center">  Ending: <%= @pageant.enddate.to_s %></h4>
          <h4 align="center">Time Zone: <%= @pageant.time_zone  %></h4>
				</div>
				<!--<div class="tab-pane" id="2">
          <h3>Notice the gap between the content and tab after applying a background color</h3>
				</div>
        <div class="tab-pane" id="3">
          <h3>add clearfix to tab-content (see the css)</h3>
				</div>-->
			</div>
  </div>

        </div>
        <div class="panel-heading center">Current Pageants</div>
        <div class="col-md-4">
          <!--Current created pageants appear here-->
        </div>
        </div>
       
					
      
 |
<%= link_to 'Back', pageants_path %>
<% render "layouts/footer"%>
</body>
</html>