<!DOCTYPE html>
<html>
  <head>
    <title>ezyvote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
    <div>
      <%= render 'layouts/nav' %>
    <div class="message">
      <%=  render 'layouts/messages' %>
    </div>
    <%= yield %>
    <!--Body goes here-->
    
    </div>
    <!--Here was footer, now he is gone-->
    <%= render "layouts/footer" %>
    </div>
  </body>
</html>
